In [1]:
import os
os.getcwd()

'C:\\Users\\SRADHA\\Desktop\\Project\\Churn Modelling Dataset'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [6]:
dataset=pd.read_csv('Churn_modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Preprocessing

In [7]:
# Dropping unwanted variables
dataset1=dataset.iloc[:,3:]
dataset1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
# Missing Values
dataset1.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
# Encoding 
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [10]:
# Label Encoder
dataset1['Geography']=dataset1['Geography'].astype('category')
dataset1['Geography']=dataset1['Geography'].cat.codes

dataset1['Gender']=dataset1['Gender'].astype('category')
dataset1['Gender']=dataset1['Gender'].cat.codes

In [11]:
dataset1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [14]:
# One-Hot Encoder
dataset1=pd.get_dummies(dataset1,columns=['Geography','Gender'])

In [16]:
dataset1.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_0,Geography_1,Geography_2,Gender_0,Gender_1
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

In [17]:
# Dummy Variables
dataset1=dataset1.drop(['Geography_0','Gender_0'],axis=1)

In [18]:
dataset1.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_1,Geography_2,Gender_1
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [21]:
# Imbalance dataset
dataset1['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [22]:
# Splitting the data into independent and dependent variables
x=dataset1.drop(['Exited'],axis=1)
y=dataset1['Exited']

In [23]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_1,Geography_2,Gender_1
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [24]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [25]:
import imblearn
from imblearn.over_sampling import RandomOverSampler
over=RandomOverSampler()
x_over,y_over=over.fit_resample(x,y)

In [26]:
print(x_over.shape)
print(y_over.shape)

(15926, 11)
(15926,)

In [27]:
# Splitting the data into training and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_over,y_over,train_size=0.75,random_state=501)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(11944, 11)
(3982, 11)
(11944,)
(3982,)

# Bagging Model

In [28]:
from sklearn.ensemble import BaggingClassifier
bagging=BaggingClassifier()
bagging.fit(x_train,y_train)

BaggingClassifier()

In [29]:
y_pred_train_bg=bagging.predict(x_train)
y_pred_test_bg=bagging.predict(x_test)

In [30]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [31]:
print(classification_report(y_train,y_pred_train_bg))
print('##'*20)
print(classification_report(y_test,y_pred_test_bg))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5963
           1       1.00      1.00      1.00      5981

    accuracy                           1.00     11944
   macro avg       1.00      1.00      1.00     11944
weighted avg       1.00      1.00      1.00     11944

########################################
              precision    recall  f1-score   support

           0       0.97      0.90      0.93      2000
           1       0.90      0.97      0.94      1982

    accuracy                           0.93      3982
   macro avg       0.94      0.93      0.93      3982
weighted avg       0.94      0.93      0.93      3982

In [32]:
print(confusion_matrix(y_train,y_pred_train_bg))
print('##'*20)
print(confusion_matrix(y_test,y_pred_test_bg))

[[5948   15]
 [  12 5969]]
########################################
[[1794  206]
 [  55 1927]]

In [33]:
print(accuracy_score(y_train,y_pred_train_bg))
print('##'*20)
print(accuracy_score(y_test,y_pred_test_bg))

0.9977394507702613
########################################
0.9344550477147162

# Random Forest Model

In [34]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=200,criterion='entropy')
rf.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [35]:
y_pred_train_rf=rf.predict(x_train)
y_pred_test_rf=rf.predict(x_test)

In [36]:
print(accuracy_score(y_train,y_pred_train_rf))
print('##'*20)
print(accuracy_score(y_test,y_pred_test_rf))

1.0
########################################
0.9505273731793069

# Decision Tree Model

In [37]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [38]:
y_pred_train_dt=dt.predict(x_train)
y_pred_test_dt=dt.predict(x_test)

In [39]:
print(accuracy_score(y_train,y_pred_train_dt))
print('##'*20)
print(accuracy_score(y_test,y_pred_test_dt))

1.0
########################################
0.9088397790055248

# Logistic Regression Model

In [40]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [41]:
y_pred_train_lr=lr.predict(x_train)
y_pred_test_lr=lr.predict(x_test)

In [42]:
print(accuracy_score(y_train,y_pred_train_lr))
print('##'*20)
print(accuracy_score(y_test,y_pred_test_lr))

0.6625083724045546
########################################
0.6604721245605224